@use "../../index";
.Header {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 40px;
}
.Header-light {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  path {
    fill: black;
  }
  button {
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
  }
}

// logo wrapper------------------------------------------------
.header-logo-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 900;
  img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
  }
  span {
    color: index.$color_tertiary;
    animation-name: headerTitleDark;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }
}

// links--------------------------------------------------------
.header-links{
  a{
    margin: 0 30px;
    display: inline-block;
  }
  a:hover{
    text-shadow: 1px 1px 5px rgba(255, 255, 255, .5);
    transition: .2s;
  }
  a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: white;
    transition: width 0.3s;
  }
  a:hover::after {
    width: 100%;
  }
}
.header-links-light{
  a::after {
    background: rgb(0, 0, 0);
  }
}

// theme changer------------------------------------------------
.header-theme-changer {
  width: 50px;
  height: 50px !important;
  border-radius: 50% !important;
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  svg {
    transform: rotate(-110deg) !important;
  }
}
.header-theme-changer-light {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}
.header-logo-wrapper-light > span {
  animation-name: headerTitleLight !important;
}
// animations------------------------------------------------
@keyframes headerTitleDark {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.4);
  }
  50% {
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.8);
  }
  75% {
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.4);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes headerTitleLight {
  0% {
    text-shadow: none;
  }
  25% {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  }
  50% {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
  }
  75% {
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  }
  100% {
    text-shadow: none;
  }
}
