@use "index";
.App {
  width: 100%;
  height: 100vh;
  position: relative;
  @include index.flexCenter;
  padding: 100px 40px 0 40px;
  overflow-y: auto;
  -webkit-transition: background-color 340ms linear;
  -ms-transition: background-color 340ms linear;
  transition: background-color 340ms linear;
  > span:last-child {
    position: absolute;
    left: 40px;
    bottom: 10px;
    color: index.$color_white_50;
    @include index.flexCenter;
    > svg {
      width: 20px;
      height: 20px;
      margin-right: 5px;
      fill: index.$color_white_50;
    }
  }
}
.App-light {
  background: rgba(255, 255, 255, 0.8);
  color: black !important;
  a,
  a:hover {
    color: black !important;
  }
  > span:last-child {
    color: index.$color_black_50 !important;
    > svg {
      fill: index.$color_black_50;
    }
  }
}
.App-dark {
  background: index.$color_bg;
  color: index.$color_white !important;
  a,
  a:hover {
    color: index.$color_white !important;
  }
}
// contact modal-------------------------------------
.mv-modal {
  @include index.flexColumnCenter;
  background-color: index.$color_bg;
  border: 1px solid index.$color_white;
  width: 380px;
  min-height: 320px;
  padding: 15px !important;
  color: index.$color_white !important;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 3px 6px -4px rgba(255, 255, 255, 0.12),
    0 6px 16px 0 rgba(255, 255, 255, 0.08),
    0 9px 28px 8px rgba(255, 255, 255, 0.05);
  > .mv-modal-close-button {
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  > div:nth-child(1) {
    font-size: 16px;
    margin-bottom: 50px;
  }
  a {
    @include index.flexCenter;
    width: 100%;
    height: 50px !important;
    color: index.$color_white !important;
    margin-bottom: 20px;
    position: relative;
    border-radius: 10px !important;
    border: 1px solid index.$color_white !important;
    &:hover {
      background: index.$color_white !important;
      color: index.$color_bg !important;
      transition-duration: 0.5s;
      transition: background 0.5s;
      svg {
        fill: index.$color_bg !important;
      }
    }
    svg {
      position: absolute;
      width: 25px;
      height: 25px;
      fill: index.$color_white;
      left: 15px;
    }
  }
}

.mv-modal-light {
  background-color: index.$color_white;
  border: 1px solid index.$color_bg;
  color: index.$color_bg !important;
  box-shadow: 0 3px 6px -4px rgba(255, 255, 255, 0.12),
    0 6px 16px 0 rgba(255, 255, 255, 0.08),
    0 9px 28px 8px rgba(255, 255, 255, 0.05);
  a {
    color: index.$color_bg !important;
    border: 1px solid index.$color_bg !important;
    &:hover {
      background: index.$color_bg !important;
      color: index.$color_white !important;
      svg {
        fill: index.$color_white !important;
      }
    }
    svg {
      fill: index.$color_bg;
    }
  }
}
