@font-face {
  font-family: wsnlsplaziuyxsllx;
  src: url(./Assets/Font/IRANSansWeb_Medium.ttf);
}
$color_bg: #1a1a40;
$color_primary: #270082;
$color_secondary: #7a0bc0;
$color_tertiary: #fa58b6;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: wsnlsplaziuyxsllx;
  box-sizing: border-box;
}
.ant-btn {
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
}
.ant-modal-footer,
.ant-modal-close-x,
.ant-modal-title {
  display: none !important;
}
.ant-modal-body {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  background-color: transparent !important;
}
.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}