@font-face {
  font-family: wsnlsplaziuyxsllx;
  src: url(./Assets/Font/IRANSansWeb_Medium.ttf);
}
$color_bg: #1a1a40;
$color_primary: #270082;
$color_secondary: #7a0bc0;
$color_tertiary: #fa58b6;
$color_white: rgb(255, 255, 255);
$color_white_70: rgba(255, 255, 255, 0.7);
$color_white_50: rgba(255, 255, 255, 0.5);
$color_white_30: rgba(255, 255, 255, 0.3);
$color_black: rgb(0, 0, 0);
$color_black_70: rgba(0, 0, 0, 0.7);
$color_black_50: rgba(0, 0, 0, 0.5);
$color_black_30: rgba(0, 0, 0, 0.3);

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@mixin loadingTextsAnimation($duration) {
  animation-name: titleLoad;
  animation-duration: $duration;
}

* {
  padding: 0;
  margin: 0;
  font-family: wsnlsplaziuyxsllx;
  box-sizing: border-box;
}
.ant-btn {
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
}
.ant-modal-footer,
.ant-modal-close-x,
.ant-modal-title {
  display: none !important;
}
.ant-modal-body {
  padding: 0 !important;
  display: flex;
  justify-content: center;
  background-color: transparent !important;
}
.ant-modal-content {
  background-color: transparent !important;
  box-shadow: none !important;
}

@keyframes titleLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
